{% include 'partials/header_login.html' %}

    <div class="jumbotron">
      <h1 class="display-4">Browse Musicians and Start Collaborating.</h1>
      <p class="lead">Explore a large community of musicians and create amazing music.</p>
    </div>

    <div class="container main-browse">
      <div class="row" style="display: flex; flex-wrap: wrap;">
        <div class="col-md-4 text-center">
          <div class="card">
            <img src="../static/images/display_pictures/profile1.jpg" class="card-img-top" alt="...">
            <a href="" class="cardButton">
                Mateus Asato
            </a>
            <div class="card-body">
              <p class="card-text">
                <i class="far fa-play-circle"></i>
                Guitar, Piano
              </p>
              <p class="card-text">
                <small class="text-muted">
                  <i class="fas fa-music"></i> Rock, Blues, R&B
                </small>
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 text-center">
          <div class="card">
            <img src="../static/images/display_pictures/profile2.jpg" class="card-img-top" alt="...">
            <a href="" class="cardButton">
                Cobus Potgieter
            </a>
            <div class="card-body">
              <p class="card-text">
                <i class="far fa-play-circle"></i>
                Drums
              </p>
              <p class="card-text">
                <small class="text-muted">
                  <i class="fas fa-music"></i> Rock, Metal, Jazz
                </small>
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 text-center">
          <div class="card">
            <img src="../static/images/display_pictures/profile3.jpg" class="card-img-top" alt="...">
            <a href="" class="cardButton">
                Vincent Fenton
            </a>
            <div class="card-body">
              <p class="card-text">
                <i class="far fa-play-circle"></i>
                Keyboard, Bass, Saxophone, Drums
              </p>
              <p class="card-text">
                <small class="text-muted">
                  <i class="fas fa-music"></i> Jazz, Electronic
                </small>
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 text-center">
          <div class="card">
            <img src="../static/images/display_pictures/profile4.jpg" class="card-img-top" alt="...">
            <a href="" class="cardButton">
                Dodie Clark
            </a>
            <div class="card-body">
              <p class="card-text">
                <i class="far fa-play-circle"></i>
                Vocal, Piano, Ukelele
              </p>
              <p class="card-text">
                <small class="text-muted">
                  <i class="fas fa-music"></i> Pop, Indie, Folk
                </small>
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 text-center">
          <div class="card">
            <img src="../static/images/display_pictures/profile5.jpg" class="card-img-top" alt="...">
            <a href="" class="cardButton">
                Niles Hollowell-Dhar
            </a>
            <div class="card-body">
              <p class="card-text">
                <i class="far fa-play-circle"></i>
                Producer
              </p>
              <p class="card-text">
                <small class="text-muted">
                  <i class="fas fa-music"></i> Electronic, Dance
                </small>
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 text-center">
          <div class="card">
            <img src="../static/images/display_pictures/profile6.jpg" class="card-img-top" alt="...">
            <a href="" class="cardButton">
                Plini Roessler-Holgate
            </a>
            <div class="card-body">
              <p class="card-text">
                <i class="far fa-play-circle"></i>
                Guitar
              </p>
              <p class="card-text">
                <small class="text-muted">
                  <i class="fas fa-music"></i> Rock, Metal
                </small>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>


    <nav class="navbar navbar-light bg-light" id="footer">
      <div class="container d-flex">
        <a class="footerLink" href="#">About</a>
        <span class="navbar-text">
          <i class="far fa-copyright"></i> 2019 Collab.
       </span>
      </div>
    </nav>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>   
  </body>
</html>